In [1]:
import pandas as pd

/usr/lib/python3/dist-packages/pytz/__init__.py:31: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)

In [22]:
movies = pd.read_csv("/home/diego/Documents/Data/movies.csv", index_col='Title')

In [24]:
movies.head()

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015
Avengers: Infinity War           5  Buena Vista  $2,048.40   2018

In [25]:
len(movies)

782

In [30]:
movies.shape

(782, 4)

In [31]:
movies.size

3128

In [37]:
movies.dtypes

Rank       int64
Studio    object
Gross     object
Year       int64
dtype: object

In [42]:
movies.iloc[0]

Rank                1
Studio    Buena Vista
Gross      $2,796.30
Year             2019
Name: Avengers: Endgame, dtype: object

In [2]:
%pwd

'/home/diego/Documents/practicing_data_analysis'

In [8]:
# we can create generators like a comprehension

my_gen = (x for x in range(5))
type(my_gen)
for i in my_gen:
    print(i)

0
1
2
3
4

In [6]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

ERROR:root:No traceback has been produced, nothing to debug.

In [4]:
attempt_float("4a")

'4a'

In [12]:
f = open("/home/diego/Documents/Data/example_text.txt")
for line in f:
    print(line)

23.45, 12.89, -5.67

Hello from inside the file!

This line has some special characters: #$%^&*

10101101 (binary representation of 173)

In [13]:
f.close()

In [1]:
from numpy import arange

In [2]:
core_int = list(range(1_000_000))
num_int = arange(1_000_000)

In [5]:
%time core_int = core_int * 2

CPU times: user 6.63 ms, sys: 14.9 ms, total: 21.6 ms
Wall time: 21.7 ms