In [2]:
import pandas as pd

/usr/lib/python3/dist-packages/pytz/__init__.py:31: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)

# 2.7 Coding challenge

In [1]:
superheroes = [
    "Batman",
    'Superman',
    'Spider-Man',
    'Iron Man',
    'Captain America',
    'Wonder Woman'
]

strength_levels = (100, 120, 90, 95, 110, 120)

1. Use the list of superheroes to populate a new Series object

In [23]:
pd.Series(superheroes)

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

2. Use the tuple of strength to populate a new Series object

In [24]:
pd.Series(strength_levels)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

3. Create a Series with the superheroes as index labels and the strength as values. Assign it to a heroes variable

In [9]:
heroes = pd.Series(data=strength_levels, index=superh)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

4. Extract the first two rows of the heroes series

In [10]:
heroes.head(2)

Batman      100
Superman    120
dtype: int64

5. Extract the last four rows of the heroes series

In [11]:
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

6. Determine the number of unique values in your heroes Series.

In [13]:
heroes.values

array([100, 120,  90,  95, 110, 120])

In [12]:
heroes.nunique()

5

7. Calculate the average strength of the superheroes in heroes.

In [14]:
heroes.mean()

105.83333333333333

8. Calculate the maximum and minimum strengths in heroes

In [18]:
heroes.max()

120

In [17]:
heroes.min()

90

9. Calculate what each superheroâ€™s strength level would be if it doubled

In [19]:
heroes.mul(2)

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

10. Convert the heroes Series to a Python dictionary

In [22]:
dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}