In [1]:
import pandas as pd
import numpy as np

/usr/lib/python3/dist-packages/pytz/__init__.py:31: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)

# 2.7 Coding challenge

In [1]:
superheroes = [
    "Batman",
    'Superman',
    'Spider-Man',
    'Iron Man',
    'Captain America',
    'Wonder Woman'
]

strength_levels = (100, 120, 90, 95, 110, 120)

1. Use the list of superheroes to populate a new Series object

In [23]:
pd.Series(superheroes)

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

2. Use the tuple of strength to populate a new Series object

In [24]:
pd.Series(strength_levels)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

3. Create a Series with the superheroes as index labels and the strength as values. Assign it to a heroes variable

In [9]:
heroes = pd.Series(data=strength_levels, index=superh)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

4. Extract the first two rows of the heroes series

In [10]:
heroes.head(2)

Batman      100
Superman    120
dtype: int64

5. Extract the last four rows of the heroes series

In [11]:
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

6. Determine the number of unique values in your heroes Series.

In [13]:
heroes.values

array([100, 120,  90,  95, 110, 120])

In [12]:
heroes.nunique()

5

7. Calculate the average strength of the superheroes in heroes.

In [14]:
heroes.mean()

105.83333333333333

8. Calculate the maximum and minimum strengths in heroes

In [18]:
heroes.max()

120

In [17]:
heroes.min()

90

9. Calculate what each superheroâ€™s strength level would be if it doubled

In [19]:
heroes.mul(2)

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

10. Convert the heroes Series to a Python dictionary

In [22]:
dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

# 3.6 Coding Challenge

In [12]:
from datetime import date

Which day of thw week saw the most battles during the Revolutionary War

In [96]:
# I just need the start date column
battles = pd.read_csv('/home/diego/Documents/Data/revolutionary_war.csv', usecols=['Start Date'], parse_dates=['Start Date']).squeeze().dropna()
battles

0     1774-09-01
1     1774-12-14
2     1775-04-19
3     1775-04-19
4     1775-04-20
         ...
227   1782-09-11
228   1782-09-13
229   1782-10-18
230   1782-12-06
231   1783-01-22
Name: Start Date, Length: 228, dtype: datetime64[ns]

In [20]:
# Now we have a Series with only the dates, let's convert the dates into the correspond day
date(2024, 6, 25).strftime('%A')

'Tuesday'

I need a function that converts each value of the series

In [106]:
# the Series has a Datetime object, so strftime is a CLASSMETHOD we can use the current object to apply the method
def to_day(battle_date):
    return battle_date.strftime('%A')

Now I will use the apply method with the `to_day` function

In [100]:
battle_days = battles.apply(to_day)
battle_days

0       Thursday
1      Wednesday
2      Wednesday
3      Wednesday
4       Thursday
         ...
227    Wednesday
228       Friday
229       Friday
230       Friday
231    Wednesday
Name: Start Date, Length: 228, dtype: object

Now counting the values

In [102]:
battle_days.value_counts()

Start Date
Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: count, dtype: int64