# Series Object

* A series is a one-dimensional object labeled array for homogeneous data
* Pandas assigns each `Series` value a `label` an identifier we can use to locate the value
* The series combine and expand Python's native structures
* The best object to compare Series is with Python **dictionaries**

In [1]:
import pandas as pd
import numpy as np

/usr/lib/python3/dist-packages/pytz/__init__.py:31: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)

A Series object with no data

In [7]:
pd.Series()

Series([], dtype: object)

Creating an object Series with data from a python list

In [14]:
ice_cream_flavors = ['Chocolate', 'Vanilla', 'Strawberry', 'Rum Raisin',]

When instantiating a Series object, we se that it has two columns, the `index` and the `values`

Index describes both the collection of identifiers and an individual identifier. By default, the index will be numbers starting from 0 and end in n-1

We have `index position` and `index label`

We can reference a value by its position or by a key/label. In a sense, each value has two identifiers

In [16]:
# Series with index position (number) by default
pd.Series(data=ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [18]:
# Series with both index position (inherent) and with index label (we put it)
days_of_the_week = ('Monday', 'Wednesday', 'Friday', 'Saturday')

pd.Series(data=ice_cream_flavors, index=days_of_the_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

**So we always can access to values with an index position and with the label position (if it is provided**

It is possible to have duplicated index labels. But we should avoid that

In [19]:
# Series with both index position (inherent) and with index label (we put it)
days_of_the_week = ('Monday', 'Wednesday', 'Friday', 'Wednesday')

pd.Series(data=ice_cream_flavors, index=days_of_the_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

## missing values

When pandas sees a missing value, it is substituted by a `nan` object. 

nan -> not a number

Notice that pandas converts numeric values from integers to floating-points when it spots a `nan` value

In [21]:
temperatures = [94, 88, np.nan, 91]
pd.Series(data=temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

## constructing Series with other Python structures

In [23]:
# With dictionaries
calorie_info = {
    'Cereal': 125,
    'Chocolate Bar': 406,
    'Ice Cream Sundae': 342,
}

diet = pd.Series(data=calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [24]:
# With tuples

pd.Series(data=('Red', 'Green', 'Blue'))

0      Red
1    Green
2     Blue
dtype: object

In [25]:
# We can store any data, for example, tuples

rgb_colors = [(120, 141, 26), (196, 165, 45)]
pd.Series(data=rgb_colors)

0    (120, 141, 26)
1    (196, 165, 45)
dtype: object

**We can't create a Series object with sets**

In [26]:
pd.Series(data={1,2})

TypeError: 'set' type is unordered

Series constructor also accepts ndarray object

In [32]:
random_data = np.random.randint(1, 101, 10)
random_data

array([91, 34, 87, 53, 70, 79, 11, 84,  2, 86])

In [35]:
pd.Series(data=random_data)

0    91
1    34
2    87
3    53
4    70
5    79
6    11
7    84
8     2
9    86
dtype: int64

# Series attributes

In [50]:
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [39]:
# from diet series

# values attributes returns an ndarray Numpy objec
diet.values

array([125, 406, 342])

In [42]:
# index method returns an Index Pandas object
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [48]:
diet.dtype

dtype('int64')

In [49]:
diet.size

3

In [52]:
diet.shape

(3,)

In [53]:
diet.is_unique

True

In [58]:
diet.is_monotonic_increasing

False

# Series methods

In [4]:
# Create 100 values between 0 and 500 in increments of 5
values = range(0, 500, 5)
nums = pd.Series(data=values)

95    475
96    480
97    485
98    490
99    495
dtype: int64

In [6]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [9]:
nums.tail()

95    475
96    480
97    485
98    490
99    495
dtype: int64

## mathematical operations

In [10]:
numbers = pd.Series(data=[1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [11]:
# Count method counts the number of non-null values
numbers.count()

5

### sum

In [12]:
# Sum adds the values together
numbers.sum()

15.0

We can't sum a number with a nan

In [13]:
3 + np.nan

nan

In [14]:
# se when change to False the skipna parameter
numbers.sum(skipna=False)

nan

In [18]:
# using the min_count to set the minimum number of valid values, a series must hold to calculate the sum

# when set to 0, it means at least it is necessary 0 values to make the sum

numbers.sum(min_count=0) # min 0 values to the sum

15.0

By default `min_count` is 0

Valid values: all except nan

In [19]:
numbers.sum(min_count=6)  # min 6 values, we don't have 6 values in our series, hence this sum won't work

nan

### product

Multiplies all Series values together

Also accepts `skipna` and `min_count` parameters

In [28]:
numbers.prod()

120.0

In [29]:
numbers.prod(skipna=False)

nan

In [27]:
numbers.prod(min_count=7)  # our series object has 5 valid values

nan

### cumsum

Cumulative sum returns a new Series with a rolling sum of the values

In [32]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [31]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [35]:
# If we change the skipna to False, then
numbers.cumsum(skipna=False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

### pct_change

Returns the percentage difference from one Series value to the next

It uses a *forward fill* in case of nan values, using the previous valid value encountered to perform the operation

In [36]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [37]:
numbers.pct_change()

/tmp/ipykernel_5260/463408457.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

### mean

In [40]:
numbers.mean()

3.0

### median

In [41]:
numbers.median()

3.0

### standard deviation

ddof: delta degrees of freedom (by default N-1, ddof=1)

In [42]:
numbers.std()

1.5811388300841898

### max and min

In [43]:
numbers.max()

5.0

In [44]:
numbers.min()

1.0

Pandas sorts a string series alphabetically

In [46]:
animals = pd.Series(data=['koala', 'aardvark', 'zebra'])
animals

0       koala
1    aardvark
2       zebra
dtype: object

In [47]:
animals.min()

'aardvark'

In [48]:
animals.max()

'zebra'

### describe()

get the previous operations in one step

In [50]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [49]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### sample

selects a random assortment of values from the series

By default returns just one element

If `replace` is True, we can do a sample of more than the total of values in the series, if false, just as maximum the total

In [62]:
numbers.sample(7)  # larger than total

ValueError: Cannot take a larger sample than population when 'replace=False'

In [63]:
numbers.sample(7, replace=True)  # With replace we can repeat the data

0    1.0
4    4.0
3    NaN
3    NaN
1    2.0
2    3.0
4    4.0
dtype: float64

###  unique and nunique

unique returns a NumPy ndarray of unique values prom the Series

This is if we have repeated data, we generate an array without repetitions of data

---

nunique returns a scalar, the number of unique elements

In [64]:
authors = pd.Series(data=['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald', 'Orwell'])

In [67]:
authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [68]:
authors.nunique()  # it is the length of the unique() return array

4

# Arithmetic operations

In [3]:
s1 = pd.Series(data=[5, np.nan, 15], index=['A', 'B', 'C'])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

We can perform arithmetic on a Series with +, -, *, /, //, %

They are compatible with just numbers, those numbers are performed for each value in the Series

When can work with series and a number

In [4]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [5]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [6]:
s1 - 5

A     0.0
B     NaN
C    10.0
dtype: float64

In [9]:
s1.sub(5)
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [10]:
s1 * 2

A    10.0
B     NaN
C    30.0
dtype: float64

In [11]:
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [12]:
s1.mul(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [13]:
s1 / 2

A    2.5
B    NaN
C    7.5
dtype: float64

In [14]:
s1.div(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [15]:
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [16]:
s1 // 4

A    1.0
B    NaN
C    3.0
dtype: float64

In [17]:
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [18]:
s1 % 3

A    2.0
B    NaN
C    0.0
dtype: float64

In [19]:
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

Also we can perform the operation of equality

In [20]:
s1 = pd.Series(data=[3, 6, np.nan, 12])
s2 = pd.Series(data=[2, 6, np.nan, 12])

In [21]:
# pandas cannot differentiate between a nan to another
s1 == s2

0    False
1     True
2    False
3     True
dtype: bool

In [22]:
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

And the not equal with `!=` or `ne()`

In [23]:
s1 != s2

0     True
1    False
2     True
3    False
dtype: bool

In [25]:
s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool

## What happens if the Series differ in position labels

In [27]:
s1 = pd.Series(data=[5, 10, 15], index=['A', 'B', 'C'])
s2 = pd.Series(data=[4, 8, 12, 14], index=['B', 'C', 'D', 'E'])

![Alt text](/home/diego/Documents/practicing_data_analysis/Pandas in action book/img/op_dif_lab.png)

In [28]:
s1 + s2

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

# Using built in with Series 
We can pass a Series to any of Python's built-in functions

In [29]:
cities = pd.Series(data=['San Francisco', 'Los Angeles', 'Las Vegas', np.nan])

In [30]:
# len returns the number of rows in the series, count all values
len(cities)

4

In [31]:
type(cities)

pandas.core.series.Series

In [32]:
dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

A Series' values can populate a native python data structure

In [33]:
list(cities)

['San Francisco', 'Los Angeles', 'Las Vegas', nan]

In [35]:
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las Vegas', 3: nan}

We can use `in` **but works with the Series' index**

In [36]:
'San Francisco' in cities

False

In [37]:
2 in cities

True

To check in the values, we can use the `values` attribute

In [39]:
cities.values

array(['San Francisco', 'Los Angeles', 'Las Vegas', nan], dtype=object)

In [38]:
'San Francisco' in cities.values

True