# DataFrame object

* Is a two-dimensional table of data with rows and columns
* Also, we have an index position and index label to each dataframe row and each column
* The dataframe is two-dimensional because requires two points of reference to isolate a value from the data set

In [98]:
import pandas as pd
import numpy as np

Creating DataFrames with the constructor

When using dictionary to feed the data, the keys will be the column name and the values the column values

In [99]:
city_data = {
    'City': ["New York City", "Paris", "Barcelona", "Rome"],
    'Country': ["United States", "France", "Spain", "Italy"],
    'Population': [8600000, 2141000, 5515000, 2873000],
}

In [100]:
cities = pd.DataFrame(data=city_data)
cities

            City        Country  Population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

What if we want to swap the column headers with the index label? this is the **transpose**

In [101]:
cities.T

                        0        1          2        3
City        New York City    Paris  Barcelona     Rome
Country     United States   France      Spain    Italy
Population        8600000  2141000    5515000  2873000

Using a ndarray to create a DataFrame

In [102]:
# randint function returns a ndarray, it takes as argument a low and high limit, and a size that can be a int or a list with the shape we want to return, in this case we want a shape of 3 rows and 5 columns, 15 random number in that format will be returned
random_data = np.random.randint(1, 101, [3, 5])
random_data

array([[90, 45,  1, 98, 31],
       [94, 34, 49, 68, 40],
       [97, 54, 33, 28, 42]])

In [103]:
# Now we have a DataFrame Object
pd.DataFrame(data=random_data)

    0   1   2   3   4
0  90  45   1  98  31
1  94  34  49  68  40
2  97  54  33  28  42

### We can set a customize index label and names of columns
With the `index` parameter of `DataFrame` constructor we pass an iterable to change the index labels, they have to match the same number of rows

We can modify the column names with the `columns` parameter of `DataFrame` constructor, we pass an iterable to change the names, they have to match the same number of columns

In [104]:
row_labels = ['Morning', 'Afternoon', 'Evening']
column_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

temperatures = pd.DataFrame(
    data=random_data,
    index=row_labels,
    columns=column_names
)
temperatures

           Monday  Tuesday  Wednesday  Thursday  Friday
Morning        90       45          1        98      31
Afternoon      94       34         49        68      40
Evening        97       54         33        28      42

# Using the `read_csv()` function

In [105]:
nba = pd.read_csv("/home/diego/Documents/Data/nba.csv", 
            parse_dates=['Birthday'])
nba

/tmp/ipykernel_7232/4162616469.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba = pd.read_csv("/home/diego/Documents/Data/nba.csv",

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

We need to use `dtypes` in plural with DataFrames

In [106]:
nba.dtypes

Name                object
Team                object
Position            object
Birthday    datetime64[ns]
Salary               int64
dtype: object

If we use `value_counts()` we can count the number of columns that store a value

In [107]:
nba.dtypes.value_counts()
# In this case we have three columns with object datatype, 1 with datetime and 1 with int64 datatype

object            3
datetime64[ns]    1
int64             1
Name: count, dtype: int64

In [108]:
nba.index

RangeIndex(start=0, stop=450, step=1)

In [109]:
nba.columns

Index(['Name', 'Team', 'Position', 'Birthday', 'Salary'], dtype='object')

In [110]:
nba.ndim

2

In [111]:
nba.shape

(450, 5)

`size` attribute return the total values, **including** the missing values

In [112]:
nba.size

2250

`count()` method does not consider the missing values

In [113]:
nba.count()

Name        450
Team        450
Position    450
Birthday    450
Salary      450
dtype: int64

Working with a dataframe with not valid values

In [114]:
data = {
    "A": [1, np.nan],
    "B": [2,3],
}
df = pd.DataFrame(data=data)
df

     A  B
0  1.0  2
1  NaN  3

In [115]:
df.size

4

In [116]:
df.count()

A    1
B    2
dtype: int64

In [117]:
nba.sample(4)

                 Name               Team Position   Birthday   Salary
376  Donovan Mitchell          Utah Jazz       SG 1996-09-07  3635760
222        Gary Clark    Houston Rockets       PF 1994-11-16  1416852
344    Reggie Bullock    New York Knicks       SF 1991-03-16  4000000
241         Ja Morant  Memphis Grizzlies       PG 1999-08-10  8730240

In [118]:
nba.nunique()

Name        450
Team         30
Position      9
Birthday    430
Salary      269
dtype: int64

In [119]:
nba.max()

Name             Zylan Cheatham
Team         Washington Wizards
Position                     SG
Birthday    2000-12-23 00:00:00
Salary                 40231758
dtype: object

In [120]:
nba.min()

Name               Aaron Gordon
Team              Atlanta Hawks
Position                      C
Birthday    1977-01-26 00:00:00
Salary                    79568
dtype: object

In [121]:
# nlargest works with numbers, dates
nba.nlargest(n=3, columns='Salary')

                  Name                   Team Position   Birthday    Salary
205      Stephen Curry  Golden State Warriors       PG 1988-03-14  40231758
38          Chris Paul  Oklahoma City Thunder       PG 1985-05-06  38506482
219  Russell Westbrook        Houston Rockets       PG 1988-11-12  38506482

In [122]:
# the five oldest players
nba.nsmallest(n=5, columns='Birthday')

               Name               Team Position   Birthday    Salary
98     Vince Carter      Atlanta Hawks       PF 1977-01-26   2564753
196   Udonis Haslem         Miami Heat        C 1980-06-09   2564753
262     Kyle Korver    Milwaukee Bucks       PF 1981-03-17   6004753
149  Tyson Chandler    Houston Rockets        C 1982-10-02   2564753
415  Andre Iguodala  Memphis Grizzlies       SF 1984-01-28  17185185

In [123]:
nba.sum(numeric_only=True)

Salary    3444112694
dtype: int64

In [124]:
nba.mean(numeric_only=True)

Salary    7.653584e+06
dtype: float64

In [125]:
nba.median(numeric_only=True)

Salary    3303074.5
dtype: float64

In [126]:
nba.mode(numeric_only=True)

   Salary
0   79568

In [127]:
nba.std(numeric_only=True)

Salary    9.288810e+06
dtype: float64

In [128]:
nba.var(numeric_only=True)

Salary    8.628200e+13
dtype: float64

# Sorting dataframe

Using the `sort_values` method, and passing the column name in the `by` parameter

In [129]:
nba.sort_values(by=['Team', 'Name'])

                Name                Team Position   Birthday    Salary
359         Alex Len       Atlanta Hawks        C 1993-06-16   4160000
167     Allen Crabbe       Atlanta Hawks       SG 1992-04-09  18500000
276  Brandon Goodwin       Atlanta Hawks       PG 1995-10-02     79568
438   Bruno Fernando       Atlanta Hawks        C 1998-08-15   1400000
194      Cam Reddish       Atlanta Hawks       SF 1999-09-01   4245720
..               ...                 ...      ...        ...       ...
418     Jordan McRae  Washington Wizards       PG 1991-03-28   1645357
273  Justin Robinson  Washington Wizards       PG 1997-10-12    898310
428    Moritz Wagner  Washington Wizards        C 1997-04-26   2063520
21     Rui Hachimura  Washington Wizards       PF 1998-02-08   4469160
36     Thomas Bryant  Washington Wizards        C 1997-07-31   8000000

[450 rows x 5 columns]

In [130]:
nba.sort_values(by=['Name', 'Team'])

                  Name                   Team Position   Birthday    Salary
52        Aaron Gordon          Orlando Magic       PF 1995-09-16  19863636
101      Aaron Holiday         Indiana Pacers       PG 1996-09-30   2239200
437        Abdel Nader  Oklahoma City Thunder       SF 1993-09-25   1618520
81         Adam Mokoka          Chicago Bulls        G 1998-07-18     79568
399  Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
..                 ...                    ...      ...        ...       ...
159        Zach LaVine          Chicago Bulls       PG 1995-03-10  19500000
302       Zach Norvell     Los Angeles Lakers       SG 1997-12-09     79568
312       Zhaire Smith     Philadelphia 76ers       SG 1999-06-04   3058800
137    Zion Williamson   New Orleans Pelicans        F 2000-07-06   9757440
248     Zylan Cheatham   New Orleans Pelicans       SF 1995-11-17     79568

[450 rows x 5 columns]

What if the want different order in each column

In [131]:
nba.sort_values(by=['Team', 'Salary'], ascending=[True, False])

                  Name                Team Position   Birthday    Salary
111   Chandler Parsons       Atlanta Hawks       SF 1988-10-25  25102512
28         Evan Turner       Atlanta Hawks       PG 1988-10-27  18606556
167       Allen Crabbe       Atlanta Hawks       SG 1992-04-09  18500000
213    De'Andre Hunter       Atlanta Hawks       SF 1997-12-02   7068360
339      Jabari Parker       Atlanta Hawks       PF 1995-03-15   6500000
..                 ...                 ...      ...        ...       ...
80         Isaac Bonga  Washington Wizards       PG 1999-11-08   1416852
399  Admiral Schofield  Washington Wizards       SF 1997-03-30   1000000
273    Justin Robinson  Washington Wizards       PG 1997-10-12    898310
283   Garrison Mathews  Washington Wizards       SG 1996-10-24     79568
353      Chris Chiozza  Washington Wizards       PG 1995-11-21     79568

[450 rows x 5 columns]

# Sorting in column axis

In [132]:
nba.sort_index()

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [133]:
nba.sort_index(axis='columns')

      Birthday            Name Position    Salary                 Team
0   1996-09-26    Shake Milton       SG   1445697   Philadelphia 76ers
1   1995-09-27  Christian Wood       PF   1645357      Detroit Pistons
2   1998-08-23   PJ Washington       PF   3831840    Charlotte Hornets
3   1988-10-04    Derrick Rose       PG   7317074      Detroit Pistons
4   1995-07-26   Marial Shayok        G     79568   Philadelphia 76ers
..         ...             ...      ...       ...                  ...
445 1992-08-01   Austin Rivers       PG   2174310      Houston Rockets
446 1998-04-22     Harry Giles       PF   2578800     Sacramento Kings
447 1988-04-01     Robin Lopez        C   4767000      Milwaukee Bucks
448 1999-01-04   Collin Sexton       PG   4764960  Cleveland Cavaliers
449 1990-10-21     Ricky Rubio       PG  16200000         Phoenix Suns

[450 rows x 5 columns]

Setting a customize index

In [134]:
nba = nba.set_index('Name')

In [135]:
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

## Extracting columns

In [136]:
nba['Salary']

Name
Shake Milton       1445697
Christian Wood     1645357
PJ Washington      3831840
Derrick Rose       7317074
Marial Shayok        79568
                    ...
Austin Rivers      2174310
Harry Giles        2578800
Robin Lopez        4767000
Collin Sexton      4764960
Ricky Rubio       16200000
Name: Salary, Length: 450, dtype: int64

In [137]:
nba.Salary

Name
Shake Milton       1445697
Christian Wood     1645357
PJ Washington      3831840
Derrick Rose       7317074
Marial Shayok        79568
                    ...
Austin Rivers      2174310
Harry Giles        2578800
Robin Lopez        4767000
Collin Sexton      4764960
Ricky Rubio       16200000
Name: Salary, Length: 450, dtype: int64

## Extracting multiple columns
With `df[['columname1', 'columname2']]` we can extract more than one column from a df

In [138]:
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [139]:
nba[['Salary', 'Birthday']]

                  Salary   Birthday
Name
Shake Milton     1445697 1996-09-26
Christian Wood   1645357 1995-09-27
PJ Washington    3831840 1998-08-23
Derrick Rose     7317074 1988-10-04
Marial Shayok      79568 1995-07-26
...                  ...        ...
Austin Rivers    2174310 1992-08-01
Harry Giles      2578800 1998-04-22
Robin Lopez      4767000 1988-04-01
Collin Sexton    4764960 1999-01-04
Ricky Rubio     16200000 1990-10-21

[450 rows x 2 columns]

We can select columns with the datatype with `select_dtypes()` method

In [140]:
nba.select_dtypes(include=['object', 'number'])

                               Team Position    Salary
Name
Shake Milton     Philadelphia 76ers       SG   1445697
Christian Wood      Detroit Pistons       PF   1645357
PJ Washington     Charlotte Hornets       PF   3831840
Derrick Rose        Detroit Pistons       PG   7317074
Marial Shayok    Philadelphia 76ers        G     79568
...                             ...      ...       ...
Austin Rivers       Houston Rockets       PG   2174310
Harry Giles        Sacramento Kings       PF   2578800
Robin Lopez         Milwaukee Bucks        C   4767000
Collin Sexton   Cleveland Cavaliers       PG   4764960
Ricky Rubio            Phoenix Suns       PG  16200000

[450 rows x 3 columns]

In [141]:
nba.select_dtypes(exclude=['object', 'number'])

                 Birthday
Name
Shake Milton   1996-09-26
Christian Wood 1995-09-27
PJ Washington  1998-08-23
Derrick Rose   1988-10-04
Marial Shayok  1995-07-26
...                   ...
Austin Rivers  1992-08-01
Harry Giles    1998-04-22
Robin Lopez    1988-04-01
Collin Sexton  1999-01-04
Ricky Rubio    1990-10-21

[450 rows x 1 columns]

## Extracting rows

With the `accessor` `loc[]` we can extract rows, rows and columns and also do **slicing** but this time inclusive in both start and end

In [142]:
nba.loc['LeBron James']

Team         Los Angeles Lakers
Position                     PF
Birthday    1984-12-30 00:00:00
Salary                 37436858
Name: LeBron James, dtype: object

In [143]:
nba.loc[['Kawhi Leonard', 'Paul George']]

                               Team Position   Birthday    Salary
Name
Kawhi Leonard  Los Angeles Clippers       SF 1991-06-29  32742000
Paul George    Los Angeles Clippers       SF 1990-05-02  33005556

In [144]:
nba.loc['Otto Porter':'Patrick Beverley']

                                         Team Position   Birthday    Salary
Name
Otto Porter                     Chicago Bulls       SF 1993-06-03  27250576
Langston Galloway             Detroit Pistons       PG 1991-12-09   7333333
Evan Turner                     Atlanta Hawks       PG 1988-10-27  18606556
Norman Powell                 Toronto Raptors       SG 1993-05-25  10116576
Nicolas Claxton                 Brooklyn Nets       PF 1999-04-17    898310
Michael Frazier               Houston Rockets        G 1994-03-08     79568
Paul Millsap                   Denver Nuggets       PF 1985-02-10  30000000
Furkan Korkmaz             Philadelphia 76ers       SG 1997-07-24   1620564
Trey Burke                 Philadelphia 76ers       PG 1992-11-12   2028594
Bradley Beal               Washington Wizards       SG 1993-06-28  27093018
Thomas Bryant              Washington Wizards        C 1997-07-31   8000000
Dean Wade                 Cleveland Cavaliers       PF 1996-11-20     79568
Chris Paul              Oklahoma City Thunder       PG 1985-05-06  38506482
Josh Hart                New Orleans Pelicans       SF 1995-03-06   1934160
LaMarcus Aldridge           San Antonio Spurs        C 1985-07-19  26000000
DaQuan Jeffries              Sacramento Kings       SG 1997-08-30    898310
Hamidou Diallo          Oklahoma City Thunder       SF 1998-07-31   1416852
Jamal Murray                   Denver Nuggets       PG 1997-02-23   4444746
Darius Bazley           Oklahoma City Thunder       PF 2000-06-12   2284800
Robert Franks               Charlotte Hornets        F 1996-12-18     79568
Gerald Green                  Houston Rockets       SF 1986-01-26   2564753
Thaddeus Young                  Chicago Bulls       PF 1988-06-21  12900000
Sviatoslav Mykhailiuk         Detroit Pistons       SF 1997-06-10   1416852
Ian Mahinmi                Washington Wizards        C 1986-11-05  15450051
Deonte Burton           Oklahoma City Thunder       SG 1994-01-31   1416852
Markelle Fultz                  Orlando Magic       PG 1998-05-29   9745200
Aaron Gordon                    Orlando Magic       PF 1995-09-16  19863636
Dzanan Musa                     Brooklyn Nets       SF 1999-05-08   1911600
Patrick McCaw                 Toronto Raptors       SF 1995-10-25   4000000
Bismack Biyombo             Charlotte Hornets        C 1992-08-28  17000000
JaVale McGee               Los Angeles Lakers        C 1988-01-19   4000000
Juwan Morgan                        Utah Jazz        F 1997-04-17    796806
Marc Gasol                    Toronto Raptors        C 1985-01-29  25595700
Marcus Smart                   Boston Celtics       PG 1994-03-06  12553571
Rudy Gobert                         Utah Jazz        C 1992-06-26  24258427
Wesley Iwundu                   Orlando Magic       SF 1994-12-20   1618520
Dwight Powell                Dallas Mavericks        C 1991-07-20  10259375
Goran Dragic                       Miami Heat       PG 1986-05-06  19217900
Theo Pinson                     Brooklyn Nets       SG 1995-11-05   1445697
Danilo Gallinari        Oklahoma City Thunder       PF 1988-08-08  22615559
Joe Ingles                          Utah Jazz       PF 1987-10-02  11454546
Jarrett Culver         Minnesota Timberwolves       SG 1999-02-20   5813640
Robert Covington       Minnesota Timberwolves       PF 1990-12-14  11301219
Damyean Dotson                New York Knicks       SG 1994-05-06   1618520
Patrick Beverley         Los Angeles Clippers       PG 1988-07-12  12345680

In [145]:
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [146]:
nba.iloc[1]

Team            Detroit Pistons
Position                     PF
Birthday    1995-09-27 00:00:00
Salary                  1645357
Name: Christian Wood, dtype: object

Extracting row and column

In [147]:
nba.loc['Christian Wood', 'Position']

'PF'

In [148]:
nba.loc['Christian Wood', ['Salary', 'Birthday']]

Salary                  1645357
Birthday    1995-09-27 00:00:00
Name: Christian Wood, dtype: object

In [149]:
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [150]:
nba.iloc[0,0]

'Philadelphia 76ers'

We can optimize the searching using alternatives as `at[]` and `iat[]`

In [151]:
nba.loc['LeBron James']

Team         Los Angeles Lakers
Position                     PF
Birthday    1984-12-30 00:00:00
Salary                 37436858
Name: LeBron James, dtype: object

In [152]:
%%timeit
nba.at['LeBron James', 'Team']

6.21 µs ± 606 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [153]:
%%timeit
nba.iat[5,0]

18.7 µs ± 1.23 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

Comparison between loc and at accessors

In [154]:
%%timeit
nba.loc['Austin Rivers', 'Birthday']

16.1 µs ± 221 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [155]:
%%timeit
nba.at['Austin Rivers', 'Birthday']

9.45 µs ± 83.5 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

Remember with `df['name']` we extract **COLUMNS**

with `df.loc[]` **ROWS**

In [156]:
nba.columns

Index(['Team', 'Position', 'Birthday', 'Salary'], dtype='object')

# Renaming columns

In [157]:
nba.rename(columns={'Salary': 'Payment'})

                               Team Position   Birthday   Payment
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [162]:
# Here nba df has the name column as index, if we use the set_index() method we lose the column Name, FIRST WE NEED TO RESET THE INDEX LABEL
nba = nba.reset_index().set_index('Team')

In [163]:
nba

                               Name Position   Birthday    Salary
Team
Philadelphia 76ers     Shake Milton       SG 1996-09-26   1445697
Detroit Pistons      Christian Wood       PF 1995-09-27   1645357
Charlotte Hornets     PJ Washington       PF 1998-08-23   3831840
Detroit Pistons        Derrick Rose       PG 1988-10-04   7317074
Philadelphia 76ers    Marial Shayok        G 1995-07-26     79568
...                             ...      ...        ...       ...
Houston Rockets       Austin Rivers       PG 1992-08-01   2174310
Sacramento Kings        Harry Giles       PF 1998-04-22   2578800
Milwaukee Bucks         Robin Lopez        C 1988-04-01   4767000
Cleveland Cavaliers   Collin Sexton       PG 1999-01-04   4764960
Phoenix Suns            Ricky Rubio       PG 1990-10-21  16200000

[450 rows x 4 columns]