# Series methods

In [1]:
import pandas as pd

/usr/lib/python3/dist-packages/pytz/__init__.py:31: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)

# converting from dataframe to series

In [8]:
pd.read_csv('/home/diego/Documents/Data/pokemon.csv')  # This is a dataframe

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [17]:
# change to a series object

pokemon = pd.read_csv('/home/diego/Documents/Data/pokemon.csv', index_col='Pokemon')  # DataFrame with a column of values yet

# To force change to a Series object, we use the dataframe's method squeeze
pokemon = pokemon.squeeze()  # Now a Series
type(pokemon)
pokemon

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

## now with google.csv

In [43]:
# We are opening the google_stocks csv. We are changing our Date format from string to Date format, then we set the column as index. Finally, we are converting the Dataframe to a Series object
google = pd.read_csv('/home/diego/Documents/Data/google_stocks.csv', parse_dates=['Date'], index_col='Date').squeeze()
google

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

## Now revolutionary_war file

In [52]:
pd.read_csv('/home/diego/Documents/Data/revolutionary_war.csv', 
            index_col='Battle', 
            parse_dates=['Start Date']).tail()

                           Start Date     State
Battle
Siege of Fort Henry        1782-09-11  Virginia
Grand Assault on Gibraltar 1782-09-13       NaN
Action of 18 October 1782  1782-10-18       NaN
Action of 6 December 1782  1782-12-06       NaN
Action of 22 January 1783  1783-01-22  Virginia

In this case, if we want to convert from dataframe to Series, we can't do that directly because we have three columns of values

So we need to limit the import of columns to only two with the parameter `usecols`

In [57]:
battles = pd.read_csv('/home/diego/Documents/Data/revolutionary_war.csv', 
            usecols=['Start Date', 'State'],
            index_col='Start Date', 
            parse_dates=['Start Date']).squeeze()
battles

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

## sorting values

In [60]:
google.sort_values()

Date
2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Name: Close, Length: 3824, dtype: float64

In [61]:
pokemon.sort_values()

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [63]:
# When sorting, by default the nan values are at the end of the series
battles.sort_values().tail()

Start Date
1782-08-08    NaN
1782-08-25    NaN
1782-09-13    NaN
1782-10-18    NaN
1782-12-06    NaN
Name: State, dtype: object

In [65]:
# nan values at first
battles.sort_values(na_position='first').head()

Start Date
1775-09-17    NaN
1775-12-31    NaN
1776-03-03    NaN
1776-03-25    NaN
1776-05-18    NaN
Name: State, dtype: object

## Dropping nan

In [67]:
battles.dropna().sort_values()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

sorting index

In [68]:
pokemon.sort_index()

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [74]:
battles.sort_index(na_position='first')

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object