In [1]:
import pandas as pd

/usr/lib/python3/dist-packages/pytz/__init__.py:31: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)

Working with movies file

In [4]:
movies = pd.read_csv('/home/diego/Documents/Data/movies.csv')

In [5]:
movies

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

We can see the index (first column) and then the proper columns of the file

**Remember that read_* returns a DataFrame object**

In [6]:
type(movies)

pandas.core.frame.DataFrame

We will always have a index columns that are labels to identify rows in the DataFrame

**We can set any column as an index**

In [9]:
# In this case, I want to set the column Title as index

movies = pd.read_csv('/home/diego/Documents/Data/movies.csv', index_col='Title')

Now I have a DataFrame with the index column Title

In [10]:
movies

                              Rank           Studio       Gross  Year
Title
Avengers: Endgame                1      Buena Vista  $2,796.30   2019
Avatar                           2              Fox  $2,789.70   2009
Titanic                          3        Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4      Buena Vista  $2,068.20   2015
Avengers: Infinity War           5      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
Yogi Bear                      778  Warner Brothers    $201.60   2010
Garfield: The Movie            779              Fox    $200.80   2004
Cats & Dogs                    780  Warner Brothers    $200.70   2001
The Hunt for Red October       781        Paramount    $200.50   1990
Valkyrie                       782              MGM    $200.30   2008

[782 rows x 4 columns]

We can look for a number of rows from the beginning of the DF

In [17]:
movies.head()

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015
Avengers: Infinity War           5  Buena Vista  $2,048.40   2018

Or from the end

In [18]:
movies.tail()

                          Rank           Studio     Gross  Year
Title
Yogi Bear                  778  Warner Brothers  $201.60   2010
Garfield: The Movie        779              Fox  $200.80   2004
Cats & Dogs                780  Warner Brothers  $200.70   2001
The Hunt for Red October   781        Paramount  $200.50   1990
Valkyrie                   782              MGM  $200.30   2008

to find out **how many rows** our dataframe has just with the len built in function

In [23]:
len(movies)

782

**Number of rows and columns in the DF**

In [24]:
movies.shape

(782, 4)

**How many cells?**

In [26]:
movies.size

3128

**Knowing the Data types of each column

In [29]:
movies.dtypes

Rank       int64
Studio    object
Gross     object
Year       int64
dtype: object

Extracting rows from a dataframe

In [31]:
movies.iloc[0]

Rank                1
Studio    Buena Vista
Gross      $2,796.30
Year             2019
Name: Avengers: Endgame, dtype: object

We can access also with the index label with the following syntax: `df.loc['index_value']`

In [34]:
movies.loc['Avengers: Endgame']

Rank                1
Studio    Buena Vista
Gross      $2,796.30
Year             2019
Name: Avengers: Endgame, dtype: object

In [37]:
movies.loc['Forrest Gump']

Rank            119
Studio    Paramount
Gross      $677.90
Year           1994
Name: Forrest Gump, dtype: object

It's the best to have labels with one correspondence
Here the are two record to the label 101 Dalmatians

In [38]:
movies.loc['101 Dalmatians']

                Rank       Studio     Gross  Year
Title
101 Dalmatians   425  Buena Vista  $320.70   1996
101 Dalmatians   708  Buena Vista  $215.90   1961

# An introduction to sort data

What if we are interested in the five movies with the most recent release date?

> inplace
: This parameter takes a `True` or a `False` to make the modification in the original object (if true) and returning None or if False, return a copy with the modifications

In [41]:
# Getting the five latest movies

movies.sort_values(by='Year', ascending=False).head()  # ascending is True by default

,Rank,Studio,Gross,Year
Title,,,,
Avengers: Endgame,1,Buena Vista,"$2,796.30",2019
John Wick: Chapter 3 - Parabellum,458,Lionsgate,$304.70,2019
The Wandering Earth,114,China Film Corporation,$699.80,2019
Toy Story 4,198,Buena Vista,$519.80,2019
How to Train Your Dragon: The Hidden World,199,Universal,$519.80,2019

We can also sort the DF across multiple columns

In [45]:
# Order alphabetically by studio and by year.
# In this case, the sort is ascending is True for the two columns
movies.sort_values(by=['Studio', 'Year']).head()

                         Rank       Studio     Gross  Year
Title
The Blair Witch Project   588      Artisan  $248.60   1999
101 Dalmatians            708  Buena Vista  $215.90   1961
The Jungle Book           755  Buena Vista  $205.80   1967
Who Framed Roger Rabbit   410  Buena Vista  $329.80   1988
Dead Poets Society        636  Buena Vista  $235.90   1989

In [46]:
# Specifying for each columns what order

movies.sort_values(by=['Studio', 'Year'], ascending=[True, False]).head()

                         Rank       Studio       Gross  Year
Title
The Blair Witch Project   588      Artisan    $248.60   1999
Avengers: Endgame           1  Buena Vista  $2,796.30   2019
Captain Marvel             22  Buena Vista  $1,128.30   2019
Aladdin                    59  Buena Vista    $880.20   2019
Toy Story 4               198  Buena Vista    $519.80   2019

We also can sort the index

In [48]:
# in this case I set as index the Title column

movies.sort_index().head()

                  Rank           Studio     Gross  Year
Title
10,000 B.C.        536  Warner Brothers  $269.80   2008
101 Dalmatians     708      Buena Vista  $215.90   1961
101 Dalmatians     425      Buena Vista  $320.70   1996
2 Fast 2 Furious   632        Universal  $236.40   2003
2012                93             Sony  $769.70   2009

I want to answer:

**Which movie studio had the greatest number of highest-grossing films?**

Notice that `df['<name>']` return a Series with the index and the column of interest

In [52]:
# I need to count the number of times each studio appears in the Studio column

# Extracting one column
movies['Studio']

Title
Avengers: Endgame                   Buena Vista
Avatar                                      Fox
Titanic                               Paramount
Star Wars: The Force Awakens        Buena Vista
Avengers: Infinity War              Buena Vista
                                     ...
Yogi Bear                       Warner Brothers
Garfield: The Movie                         Fox
Cats & Dogs                     Warner Brothers
The Hunt for Red October              Paramount
Valkyrie                                    MGM
Name: Studio, Length: 782, dtype: object

Now counting the number of occurrences of each studio

In [53]:
movies['Studio'].value_counts()

Studio
Warner Brothers           132
Buena Vista               125
Fox                       117
Universal                 109
Sony                       86
Paramount                  76
Dreamworks                 27
Lionsgate                  21
New Line                   16
MGM                        11
TriStar                    11
Miramax                    10
Weinstein                   6
Columbia                    5
WGUSA                       4
Polygram                    2
Orion                       2
SonR                        2
Dimension                   2
Vestron                     1
USA                         1
Lions                       1
Focus                       1
Rela.                       1
CL                          1
Pathe                       1
Artisan                     1
IFC                         1
GrtIndia                    1
RKO                         1
UTV                         1
FUN                         1
FR                          1
Newmarket                   1
China Film Corporation      1
HC                          1
Magn.                       1
Name: count, dtype: int64

Another way to count the occurrences

It is important to notice that this returns a Series object, So we have the index column now as Studio and the values the count column

**Hence we just have the Series's values (count) and its labels (Studio)**

In [57]:
movies.value_counts('Studio')

Studio
Warner Brothers           132
Buena Vista               125
Fox                       117
Universal                 109
Sony                       86
Paramount                  76
Dreamworks                 27
Lionsgate                  21
New Line                   16
TriStar                    11
MGM                        11
Miramax                    10
Weinstein                   6
Columbia                    5
WGUSA                       4
Orion                       2
Dimension                   2
Polygram                    2
SonR                        2
IFC                         1
Rela.                       1
CL                          1
Vestron                     1
China Film Corporation      1
UTV                         1
USA                         1
RKO                         1
Lions                       1
Pathe                       1
FR                          1
Newmarket                   1
FUN                         1
Focus                       1
Magn.                       1
GrtIndia                    1
HC                          1
Artisan                     1
Name: count, dtype: int64