# MultiIndex DataFrames

We need only one label or one index position to locate a value in a Series. We need two reference points to locate a value in a DataFrame: a label/index for the rows and a label/index for the columns. Can we expand beyond two dimensions? Absolutely! Pandas supports data sets with any number of dimensions through the use of a MultiIndex.

A multiIndex object is an index object that holds multiple levels

Each level stores a value for the row

A MultiIndex is also ideal for hierarchical data: data in which one column’s values are a subcategory of another column’s values.

In [13]:
import pandas as pd
import numpy as np

Let's create a MultiIndex from scratch

In [14]:
addresses = [
    ('8809 Flair Square', 'Toddside', 'IL', '37206'),
    ('9901 Austin Street', 'Toddside', 'IL', '37206'),
    ('905 Hogan Quarter', 'Franklin', 'IL', '37206')
             ]
addresses

[('8809 Flair Square', 'Toddside', 'IL', '37206'),
 ('9901 Austin Street', 'Toddside', 'IL', '37206'),
 ('905 Hogan Quarter', 'Franklin', 'IL', '37206')]

In [15]:
pd.MultiIndex.from_tuples(addresses)

MultiIndex([( '8809 Flair Square', 'Toddside', 'IL', '37206'),
            ('9901 Austin Street', 'Toddside', 'IL', '37206'),
            ( '905 Hogan Quarter', 'Franklin', 'IL', '37206')],
           )

In pandas terminology, the collection of tuple values at the same position forms a level
of the MultiIndex.

We can set each multiindex level a name

In [16]:
row_index = pd.MultiIndex.from_tuples(addresses, names=['Street', 'City', 'State', 'Zip'])
row_index

MultiIndex([( '8809 Flair Square', 'Toddside', 'IL', '37206'),
            ('9901 Austin Street', 'Toddside', 'IL', '37206'),
            ( '905 Hogan Quarter', 'Franklin', 'IL', '37206')],
           names=['Street', 'City', 'State', 'Zip'])

Attaching our miltiindex to a dataframe

In [17]:
data = [
    ['A', 'B+'],
    ['C+', 'C'],
    ['D-', 'A']
]
columns = ['Schools', 'Cost Of Living']

area_grades = pd.DataFrame(data, index=row_index, columns=columns)
area_grades

                                        Schools Cost Of Living
Street             City     State Zip
8809 Flair Square  Toddside IL    37206       A             B+
9901 Austin Street Toddside IL    37206      C+              C
905 Hogan Quarter  Franklin IL    37206      D-              A

In [18]:
area_grades.columns

Index(['Schools', 'Cost Of Living'], dtype='object')

In [19]:
column_index = pd.MultiIndex.from_tuples(
    [
        ('Culture', 'Restaurants'),
        ('Culture', 'Museums'),
        ('Services', 'Police'),
        ('Services', 'School')
    ]
)
column_index

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',      'School')],
           )

Now we need a dataframe with four columns because the column_index has 4 tuples

In [20]:
data = [
    ['C-', 'B+', 'B-', 'A'],
    ['D+', 'C', 'A', 'C+'],
    ['A-', 'A', 'D+', 'F']
]

pd.DataFrame(data, row_index, column_index)

                                            Culture         Services
                                        Restaurants Museums   Police School
Street             City     State Zip
8809 Flair Square  Toddside IL    37206          C-      B+       B-      A
9901 Austin Street Toddside IL    37206          D+       C        A     C+
905 Hogan Quarter  Franklin IL    37206          A-       A       D+      F

# Working with neighbordhoods.csv

In [21]:
neighbors = pd.read_csv('/home/diego/Documents/Data/neighborhoods.csv', index_col=[0, 1, 2], header=[0, 1])

In [22]:
neighbors.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 251 entries, ('MO', 'Fisherborough', '244 Tracy View') to ('NE', 'South Kennethmouth', '346 Wallace Pass')
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Culture, Restaurants)  251 non-null    object
 1   (Culture, Museums)      251 non-null    object
 2   (Services, Police)      251 non-null    object
 3   (Services, Schools)     251 non-null    object
dtypes: object(4)
memory usage: 27.1+ KB

In [23]:
neighbors

                                               Culture         Services  \
                                           Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A


                                           Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [24]:
neighbors.index

MultiIndex([('MO',      'Fisherborough',        '244 Tracy View'),
            ('SD',   'Port Curtisville',     '446 Cynthia Inlet'),
            ('WV',        'Jimenezview',       '432 John Common'),
            ('AK',        'Stevenshire',        '238 Andrew Rue'),
            ('ND',     'New Joshuaport',       '877 Walter Neck'),
            ('ID',         'Wellsville',   '696 Weber Stravenue'),
            ('TN',          'Jodiburgh',    '285 Justin Corners'),
            ('DC',   'Lake Christopher',   '607 Montoya Harbors'),
            ('OH',          'Port Mike',      '041 Michael Neck'),
            ('ND',         'Hardyburgh', '550 Gilmore Mountains'),
            ...
            ('AK',          'Scottstad',      '114 Jones Garden'),
            ('IA',    'Port Willieport',  '320 Jennifer Mission'),
            ('ME',         'Port Linda',        '692 Hill Glens'),
            ('KS',         'Kaylamouth',       '483 Freeman Via'),
            ('WA',     'Port Shawnfort',    '691 Winters Bridge'),
            ('MI',      'North Matthew',      '055 Clayton Isle'),
            ('MT',            'Chadton',     '601 Richards Road'),
            ('SC',          'Diazmouth',     '385 Robin Harbors'),
            ('VA',         'Laurentown',     '255 Gonzalez Land'),
            ('NE', 'South Kennethmouth',      '346 Wallace Pass')],
           names=['State', 'City', 'Street'], length=251)

In [25]:
neighbors.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [26]:
neighbors.index.get_level_values(1)

Index(['Fisherborough', 'Port Curtisville', 'Jimenezview', 'Stevenshire',
       'New Joshuaport', 'Wellsville', 'Jodiburgh', 'Lake Christopher',
       'Port Mike', 'Hardyburgh',
       ...
       'Scottstad', 'Port Willieport', 'Port Linda', 'Kaylamouth',
       'Port Shawnfort', 'North Matthew', 'Chadton', 'Diazmouth', 'Laurentown',
       'South Kennethmouth'],
      dtype='object', name='City', length=251)

In [27]:
neighbors.columns.names = ['Category', 'Subcategory']

In [28]:
neighbors.columns.names

FrozenList(['Category', 'Subcategory'])

In [29]:
neighbors

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [30]:
neighbors.nunique()

Category  Subcategory
Culture   Restaurants    13
          Museums        13
Services  Police         13
          Schools        13
dtype: int64

In [31]:
neighbors.sort_index()

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Stevenshire    238 Andrew Rue                D-       A       A-      A-
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
...                                               ...     ...      ...     ...
WY    Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Martintown     013 Bell Mills                C-       D       A-      B-
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Reneeshire     717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

Sorting selecting a level index

In [32]:
neighbors.sort_index(level=['City'])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [34]:
neighbors = neighbors.sort_index()

In [35]:
neighbors

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Stevenshire    238 Andrew Rue                D-       A       A-      A-
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
...                                               ...     ...      ...     ...
WY    Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Martintown     013 Bell Mills                C-       D       A-      B-
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Reneeshire     717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

Extracting data in a multi index object

In [40]:
neighbors[('Services', 'Schools')]

State  City            Street
AK     Rowlandchester  386 Rebecca Cove         C
       Scottstad       082 Leblanc Freeway     B+
                       114 Jones Garden         D
       Stevenshire     238 Andrew Rue          A-
AL     Clarkland       430 Douglas Mission     B+
                                               ..
WY     Lake Nicole     754 Weaver Turnpike      D
                       933 Jennifer Burg        C
       Martintown      013 Bell Mills          B-
       Port Jason      624 Faulkner Orchard    C+
       Reneeshire      717 Patel Square         A
Name: (Services, Schools), Length: 251, dtype: object

Extracting rows

In [45]:
neighbors.loc[('TX', 'Kingchester', '534 Gordon Falls')]

Category  Subcategory
Culture   Restaurants     C
          Museums        D+
Services  Police          B
          Schools         B
Name: (TX, Kingchester, 534 Gordon Falls), dtype: object

In [48]:
neighbors.loc['TX', 'Leeberg']

Category            Culture         Services
Subcategory     Restaurants Museums   Police Schools
Street
693 Avila Pines          C+       F       A+      D+

In [51]:
neighbors['NE':'NH']

Empty DataFrame
Columns: []
Index: [(AK, Rowlandchester, 386 Rebecca Cove), (AK, Scottstad, 082 Leblanc Freeway), (AK, Scottstad, 114 Jones Garden), (AK, Stevenshire, 238 Andrew Rue), (AL, Clarkland, 430 Douglas Mission), (AL, East Bobbyside, 294 Mitchell Village), (AL, East Connie, 943 John Gardens), (AL, Kathrynstad, 356 Dodson Plains), (AL, Lonniestad, 643 Allen Estates), (AL, Port Jenniferfurt, 539 Horton Fork), (AL, Samuelville, 989 Dean Plains), (AL, Vegaside, 191 Mindy Meadows), (AR, Allisonland, 124 Diaz Brooks), (AR, New Larryshire, 372 Vazquez Isle), (AR, Russoshire, 499 Hinton Forks), (AR, Simmonsfurt, 154 Alexander Track), (AZ, Lake Davidshire, 943 Melissa Haven), (AZ, Tiffanyberg, 344 Ronald Groves), (AZ, West Richard, 847 Nelson Cape), (CA, Dustinmouth, 793 Cynthia Square), (CA, North Jennifer, 303 Alisha Road), (CA, Ryanfort, 934 David Run), (CO, Lake Robert, 049 Jordan Lane), (CO, Port Jeanette, 219 Henderson Glen), (CO, South Eugene, 654 Fisher Summit), (CT, East Jessicaland, 208 Todd Knolls), (CT, New Adrianhaven, 048 Brian Cove), (CT, Port Mike, 410 Keith Lodge), (CT, Sethstad, 139 Bailey Grove), (DC, East Jessica, 149 Norman Crossing), (DC, East Lisaview, 910 Sandy Ramp), (DC, Lake Christopher, 607 Montoya Harbors), (DC, New Janice, 477 Flores Cliff), (DC, Richardland, 419 Michael Squares), (DC, South Nathan, 631 Lynch Hill), (DE, Dustinmouth, 719 Dixon Ways), (DE, Lake Davidmouth, 051 Destiny Mission), (DE, Moonborough, 518 Christopher Springs), (DE, New Christopher, 822 Connie Dale), (DE, New Janice, 417 Simmons Spur), (DE, Port Michael, 328 Brian Cliff), (DE, Port Michael, 800 Christopher Haven), (DE, South Kayla, 731 Atkinson Knolls), (DE, South Tara, 047 Martinez Keys), (FL, Bryanchester, 481 Julie Meadows), (FL, Jacksonfort, 369 Victoria Road), (FL, Kingchester, 467 Lisa Mission), (FL, Port Melissaburgh, 393 Jennifer Parkway), (FL, West Miguelstad, 570 James Unions), (GA, Amyburgh, 941 Brian Expressway), (GA, New Carmenland, 943 James Lake), (GA, Spencechester, 570 Davis Isle), (GA, Tinaborough, 946 Lindsay Port), (GA, Trevorville, 283 Kelli Forest), (HI, Kathleenport, 507 White Vista), (HI, Lauratown, 595 Moore Corner), (HI, New Caroline, 302 Paul Spring), (HI, New Jennifer, 931 Pace Lights), (HI, Port Ronnietown, 323 William Club), (HI, Port Ronnietown, 710 Timothy Mountain), (HI, South Lauren, 073 Amanda Well), (HI, Timothystad, 393 Jasmine Hollow), (IA, Amyburgh, 163 Heather Neck), (IA, Chadburgh, 877 Smith Haven), (IA, East Brittany, 690 Gonzales Tunnel), (IA, East Christopher, 955 Hoffman Camp), (IA, Port Willieport, 320 Jennifer Mission), (ID, Andrewshire, 952 Ellis Drive), (ID, Patricktown, 215 Kathleen Flat), (ID, Spencechester, 523 Ali Stream), (ID, Thompsonview, 028 Ford Brook), (ID, Wellsville, 696 Weber Stravenue), (ID, West Anna, 544 Patel Locks), (ID, West Christophertown, 168 Brown Stravenue), (IN, East Deborahberg, 829 Melissa Mountain), (IN, Fisherborough, 975 Bell Fork), (IN, New Carmenland, 567 Ricky Trafficway), (IN, Simmonsfurt, 547 Miller Isle), (IN, Smithside, 347 Nicholas Shores), (IN, Wilsonborough, 066 Carr Road), (KS, Kaylamouth, 483 Freeman Via), (KS, Port Lindaberg, 008 Mitchell Highway), (KS, Shawnchester, 103 David Crest), (KS, South Karenberg, 141 Eric Lock), (KS, Timothystad, 194 Miller Grove), (KY, Bowmantown, 698 Lee Meadows), (KY, Hammondside, 751 Patton Squares), (LA, Danielmouth, 084 Jamie Tunnel), (LA, Jimenezview, 063 Cox Park), (LA, Port Michellemouth, 155 Ethan Island), (MA, Danielmouth, 539 Curry Station), (MA, Gonzalesbury, 770 Little Shoals), (MA, Stevenshire, 660 Anthony Path), (MD, Richardland, 695 Amy Ports), (MD, Sanchezmouth, 003 Daniel Via), (MD, West Miguelstad, 751 Walker Meadows), (ME, Kathleenport, 520 Ellis Meadows), (ME, Lake Ambertown, 654 Margaret Lake), (ME, Lake Timothy, 746 Jeffrey Bypass), (ME, Morrisonburgh, 335 Scott Manors), ...]

[251 rows x 0 columns]

Cross sections

The xs method allows us to extract rows by providing a value for one MultiIndex level

In [52]:
neighbors.xs(key='Lake Nicole', level='City')

Category                      Culture         Services
Subcategory               Restaurants Museums   Police Schools
State Street
OR    650 Angela Track              D      C-        D       F
WY    754 Weaver Turnpike           B      D-        B       D
      933 Jennifer Burg             C      A+       A-       C